$font: Circular Std Book;

.home {
  background: linear-gradient(180deg, #3333a3 5.09%, #121212 33.4%);
  .container{
    .home__wrapper{
        .home__swipes{
            display: flex;
            gap: 22px;
            padding: 41px;
            img{
                &:last-child{
                    transform: rotate(180deg);
                }
            }
        }
        .home__playlists{
            margin-top: 30px;
            h2{
                color: #FFF;
                font-family: $font;
                font-size: 39px;
                font-weight: 700;
                letter-spacing: -0.39px;
            }
        }
    }
  }
}
