$font: Circular Std Book;
.order__triangle {
  transform: rotate(90deg);
}

.playlist {
  padding-top: 108px;
  font-family: $font;
  width: 100%;
  background: linear-gradient(180deg, #def628 -20%, #121212 43.28%);
  .container {
    .playlist__wrapper {
      .playlist__hero {
        display: flex;
        gap: 32px;
        align-items: center;
        .playlist__img {
          img {
            width: 297px;
            object-fit: cover;
          }
        }
        .playlist__description {
          margin-top: 12px;
          h3 {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: -0.32px;
          }
          h1 {
            color: #fff;
            font-size: 50px;
            font-weight: 800;
            margin-top: 20px;
          }
        }
        .playlist__artists {
          margin-top: 12px;
          display: flex;
          gap: 5px;
          align-items: center;
          p,
          span {
            color: #fff;
            font-size: 20px;
            font-weight: 450;
          }
          span {
            color: rgba(255, 255, 255, 0.7);
          }
        }
        .playlist__info {
          color: #fff;
          display: flex;
          align-items: center;
          gap: 7px;
          h5 {
            font-size: 18px;
            margin-top: 12px;
            font-weight: 450;
            color: rgba(255, 255, 255, 0.7);
            letter-spacing: 0.18px;
          }
          p {
            padding-top: 12px;
          }
          h3 {
            color: rgba(255, 255, 255, 0.7);
            font-size: 18px;
            font-weight: 450;
            letter-spacing: 0.18px;
            padding-top: 12px;
          }
        }
      }
      .playlist__actions {
        margin-top: 62px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .playlist__actions__left {
          display: flex;
          align-items: center;
          gap: 21px;
          p {
            font-size: 52px;
            &:first-child {
              color: #65d36e;
              font-size: 72px;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              color: #fff;
              margin-left: 36px;
            }
          }
        }
        .playlist__actions__right {
          display: flex;
          gap: 35px;
          align-items: center;
          p {
            &:first-child {
              font-size: 23px;
              color: #fff;
            }
            &:last-child {
              color: #fff;
              font-size: 18px;
              font-weight: 450;
              letter-spacing: -0.18px;
              display: flex;
              align-items: center;
              gap: 14px;
            }
          }
        }
      }
      .playlist__musics {
        table {
          width: 100%;
          thead {
            tr {
              th {
                color: #b3b3b3;
                font-size: 22px;
                font-weight: 450;
                text-transform: uppercase;
              }
            }
          }
          tbody {
            tr {
              td {
                &:first-child {
                  color: #b3b3b3;
                  font-size: 22px;
                  font-weight: 450;
                  letter-spacing: 0.44px;
                  padding-left: 15px;
                }
                &:nth-child(2) {
                  display: flex;
                  gap: 21px;
                  img {
                    width: 52px;
                    object-fit: cover;
                    margin-left: 23px;
                  }
                  .playlist__item {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    h5 {
                      color: #fff;
                      font-size: 20px;
                      font-weight: 450;
                      letter-spacing: 0.2px;
                    }
                    h6 {
                      color: #b3b3b3;
                      font-size: 18px;
                      font-weight: 450;
                    }
                  }
                }
                &:last-child {
                  color: #fff;
                  font-size: 20px;
                  font-weight: 450;
                  letter-spacing: -0.6px;
                }
              }
            }
          }
        }
      }
    }
  }
}
